body{
	color: lightblue;
	font-family: Arial;
	background:#15FAFC;
	padding: 20PX;
}

p{
	text-align:left;
}

h1{
	text-align: center;
	color: purple;
}
.first{
	text-align:left;
	color: magenta;
}
h2{
	color: yellow;
}
h3{
	text-align: center;
	color: aquamarine;
}
h4{
   color: olive;
   text-align: left;
}
.second{
	color: ocean;
}
.third{
	color: mediumspringgreen;
}
.fourth{
	color: lime;
}
h5{
	color: aqua;
}
h6{
	color: lightgoldenrodyellow;
	text-align: center;
}
h2{
	text-align: center;
}
table,th,td{
	border: 1px solid black;
             width: 50%;
 }
nav{
	text-align: left;
   justify-content: right;
   padding: 0;
   margin: 0;
   font-weight: bold;

}
.king{
	color: red;
}
.queen{
	color: hotpink;
}
.prince{
	color: royalpurple;
}



.project{background: lightpink;
display: flex;
gap: 15 px
padding 15px }
.project
h2{
	color: lime;
	margin: bottom 8 px;

}
.project
p{
	color: lightseagreen;
   margin: bottom 10px;
}
   .project-content{
   	flex: 1;

   }
.project-image
{width: 10px
 height:50px
  border-radius:10px;
}
.project-link{
	background-color: lime;
	border border-radius:5px;
	display: inline-block;
}
footer{
	font-size: 14px;
}


